.profile {
    top: 120px;
    right: -100px;
    backdrop-filter: blur(20px);
    /* background-color: #ffffff99; */
    position: fixed;
    justify-content: center;
    display: flex;
    z-index: 50000;
    align-items: center;
    border-radius: 30px;
    transition: all 0.4s;
    overflow: scroll;
    /* scroll-snap-align: start; */
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}


.profile-active {
    right: 60px;
    visibility: visible;
    opacity: 1;
    width: 70%;
    height: auto;
    max-height: 70vh;
    /* height: clamp(100px, 50vh, 70%); */
}

.profile-left {
    flex: 2;
    /* border: 1px solid #ffffff50; */
    box-shadow: 0px 0px 1px #ffffff99;
    margin: 3%;
    border-radius: 10px;
    padding-bottom: 10px;
    height: 450px;
    align-self: flex-start;
}

.profile-left .profile-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    mix-blend-mode: multiply;
    margin-bottom: 11.5%;
}

.profile-left .name-border {
    display: block;
    width: 38%;
    margin: auto;
    position: absolute;
    /* left: 3.5%; */
    top: 218px;
}

.profile-left .name, .score{
    font-family: SpaceBoards;
}


.profile-left .name {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.profile-left p {
    margin: 0;
    margin-bottom: 10px;
    word-break: break-all;
}

.profile-right {
    flex: 3;
    display: flex;
    height: 450px;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    margin: 3% 0%;
    margin-right: 4%;
}


.participated-events{
    box-shadow: 0px 0px 1px #ffffff99;
    border-radius: 10px;

}

.profile-right .participated-events h2{
    font-family: SpaceBoards;
}

.profile-right ol {
    text-align: left;
    overflow: scroll;
}

.profile-right ol li {
    margin-bottom: 5px;
}

/* .profile-buttons {
    position: absolute;
    right: 4.5%;
    bottom: 40px;
} */

.profile-buttons {
    margin-left: auto;
}

.profile-buttons .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.profile-buttons a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    box-shadow: 0px 0px 1px #ffffff99;
    border-radius: 7px;
    margin: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

.profile-buttons .edit:hover {
    background-color: #fff;
    color: #000;
}

.log-out {
    background-color: red;
}
.hide{
    display: none;
}
.show{
    display: block;
}


@media screen and (max-width: 1100px) {
    .profile-left .name {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    .profile {
        max-height: 60vh;
    }
    .profile-left {
        height: 350px;
    }

    .profile-right {
        height: 350px;
    }

    .profile-left .profile-image {
        width: 150px;
        margin-bottom: 3%;
    }

    .profile-left .name-border {
        top: 195px;
    }

    .profile-left .name {
        font-size: 13px;
    }

    .profile-left p{
        font-size: 13px;
    }

    .profile-right .participated-events h2 {
        font-size: 18px;
    }

    .profile-right ol li {
        font-size: 13px;
    }

    .profile-buttons a {
        font-size: 13px;
    }

}

@media screen and (max-width: 850px) {
    .profile-left {
        min-height: 450px;
    }
}

@media screen and (max-width: 740px) {
    .profile-left {
        flex: 1;
        padding: 10px;
    }
    .profile-right{
        flex: 1;
        height: 500px;
    }

    .profile-left .name-border {
        top: 203px;
        left: 4.2%;
        width: 45%;
    }
}

@media screen and (max-width: 585px) {
    .profile {
        flex-direction: column;
        justify-content: start;
        /* width: auto; */
        width: 260px;
        right: 5%;
        border-radius: 15px;
        max-height: 70vh;
    }

    .profile-left {
        width: 240px;
        margin: 3%;
    }

    .profile-right {
        /* width: auto; */
        margin-right: 0%;
        width: 240px;

        margin: 3%;
    }

    .profile-left .name-border {
        width: 90%;
        top: 195px;
    }

    .profile-buttons {
        margin-top: 20px;
    }

}

@media screen and (max-width: 320px) {
    .profile {
        width: 220px;
    }

    .profile-left, .profile-right {
        width: 200px;
    }
}