@font-face {
  font-family: 'SpaceBoards';
  src: url('./Components/Fonts/FontsFree-Net-Spaceboardsdemo-8MyRB.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('./Components/Fonts/Outfit-VariableFont_wght.ttf');
}

.App {
  text-align: center;
  color: #fff;
   /* background-image: url("./../public/img/bg3.png"); */
  /*background-size: 100% 500%; */
  background-color: #000;
  font-family: Outfit;
}

::-webkit-scrollbar{
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

html {
  scroll-snap-type: y mandatory;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap')
